<%- include('partials/header.ejs') %> <% blogs.forEach((blog)=>{ %>
<div class="ui container main">
  <h2><%= blog.title %></h2>
  <img src="<%= blog.image %>" width="100px" alt="" />
  <p><%= blog.content.substring(0,20) %></p>
  <span><%= blog.created %></span>
</div>
<button><a href="/blogs/<%=blog._id%>">Read more</a></button>
<% }) %> <%- include('partials/footer.ejs') %>
